@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg: #fAF6ED;
    --grey: #222;
    --yellow: #FB5;
    --red: #E54;
}

body {
    -webkit-font-smoothing: antialiased;

    background-color: var(--bg);
    color: var(--grey);

    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
    grid-column: 3 / 5;
    background-color: var(--yellow);
    margin: 2rem 0;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    color: var(--grey);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: .1rem;

    display: block;
    padding: 10px;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.grid-section .titulo {
    font-family: 'Playfair Display SC', serif;
    font-size: 6rem;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 1rem;
    
    grid-column: 1 / 4;
}

.animais ul {
    grid-column: 2;
    height: 370px;
    overflow-y: scroll;
}

.animais ul::-webkit-scrollbar {
    width: 18px;
}
.animais ul::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-right: 4px solid var(--bg);
    border-left: 4px solid var(--bg);
}
.animais ul::-webkit-scrollbar-track {
    background: var(--bg);
}

.animais li {
    cursor: pointer;
}

.animais img {
    display: block;
    max-width: 100%;
}

.animais-desc {
    grid-column: 3;
}

.animais-desc section {
    margin-bottom: 3rem;
}

.animais-desc h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--red);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
}

.animais-desc h2::before {
    content: '';
    height: 10px;
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--yellow);
}

.animais-desc p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
} 

.faq-list {
    grid-column: 2 / 4;
}

.faq-list dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: var(--red);
    cursor: pointer;
}

.faq-list dt::before {
    content: '';
    display: inline-block;
    background-color: #FB5;
    height: 10px;
    width: 20px;
    margin-right: 10px;
}

.faq-list dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.mapa {
    grid-column: 2;
}

.mapa img {
    display: block;
    max-width: 100%;
}

.dados {
    grid-column: 3;
}

.dados li {
    font-family: Helvetica, Arial;
    margin-bottom: 1rem;
}

.dados li::before {
    content: '';
    display: inline-block;
    background-color: #FB5;
    height: 10px;
    width: 20px;
    margin-right: 10px;
}

.copy {
    grid-column: 2 / 5;
    background-color: var(--yellow);
    padding: 20px;
    margin-bottom: 2rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }
    .menu, .grid-section, .copy {
        grid-column: 1;
    }
    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }
    .animais ul {
        grid-column: 1;
    }
    .grid-section h1 {
        font-size: 3rem;
    }
    .faq-list, .dados, .mapa {
        grid-column: 1 / 3;
    }
    .menu {
        margin-top: 0px;
    }
    .copy {
        margin-bottom: 0px;
    }
}

.js .js-tabcontent section{
    display: none;
}

.js-tabcontent section.active {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.js-accordion dt::after {
    content: '↴';
    margin-left: 10px;
}

.js-accordion dt.active::after {
    content: '⬏';
}

.js .js-accordion dd {
    display: none;
}

.js-accordion dd.active {
    display: block;
}

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js .js-scroll.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}